#   Data Analysis CSV FILE

##  Read the file

In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('samples\continents_population.csv')

In [27]:
df.head()

       continent  2023_population
0           Asia       1428627663
1           Asia       1425671352
2  North America        339996563
3           Asia        277534122
4           Asia        240485658

In [48]:
grouped_df = df.groupby('continent')['2023_population'].sum()
total_population = df['2023_population'].sum()

In [52]:
df['Population_Percentage'] = df['Population_Percentage'].apply(lambda x: f'{x:.2f}%')

In [54]:
print(df[['continent', '2023_population', 'Population_Percentage']])

         continent  2023_population Population_Percentage
0             Asia       1428627663                17.76%
1             Asia       1425671352                17.72%
2    North America        339996563                 4.23%
3             Asia        277534122                 3.45%
4             Asia        240485658                 2.99%
..             ...              ...                   ...
229  North America             4386                 0.00%
230  South America             3791                 0.00%
231        Oceania             1935                 0.00%
232        Oceania             1893                 0.00%
233         Europe              518                 0.00%

[234 rows x 3 columns]